variables:
  PIPELINE:
    description: "Specify which pipeline to run"
    value: default
    options: [default, library, docs]

stages: [build, deploy, publish]

include:
  - project: outloud/ci
    file: /utils/deployer.yml

publish:library:
  stage: publish
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*$/
    - if: $CI_PIPELINE_SOURCE == "web" && $PIPELINE == "library"
  image: node:24-alpine
  resource_group: library
  variables:
    SCOPE: outloud
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm install --loglevel error

    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - pnpm publish --access public

    - echo "@${SCOPE}:registry=${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/npm/" >> .npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - pnpm publish
  after_script:
    - apk add --no-cache git
    - !reference [.deployer, setup]
    - deployer slack:notify release

build:docs:
  stage: build
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - docs/**/*
    - if: $CI_PIPELINE_SOURCE == "web" && $PIPELINE == "docs"
  image: node:24-alpine
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
    - apk add --no-cache zip
  script:
    - cd docs
    - pnpm install --loglevel warn
    - pnpm run generate
    - cd .output/public
    - zip -r docs.zip ./*
    - mv docs.zip ../../../
  artifacts:
    paths:
      - docs.zip

deploy:docs:
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - docs/**/*
    - if: $CI_PIPELINE_SOURCE == "web" && $PIPELINE == "docs"
  dependencies:
    - build:docs
  resource_group: docs
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  variables:
    ARTIFACT_NAME: ${CI_PROJECT_PATH_SLUG}-docs.zip
  script:
    - aws s3 cp docs.zip s3://${AWS_S3_BUCKET}/${ARTIFACT_NAME}
    - aws amplify start-deployment --app-id $AWS_AMPLIFY_ID --branch-name $AWS_AMPLIFY_ENV --source-url s3://${AWS_S3_BUCKET}/${ARTIFACT_NAME}
